services:
	router: App\Router\RouterFactory::createRouter

	elasticSearch.elasticManager: App\ElasticSearch\ElasticManager
	elasticSearch.tableIndexer: App\ElasticSearch\TableIndexer

	responseFormatter: App\Http\ResponseFormatter

	repository.quizRepository: App\Database\Repository\QuizRepository