services:
	router: App\Router\RouterFactory::createRouter
	elasticSearch.settings: App\ElasticSearch\Settings('quiz-portal')
	elasticSearch.tableIndexer: App\ElasticSearch\TableIndexer

	responseFormatter: App\Http\ResponseFormatter

	repository.quizRepository: App\Database\Repository\QuizRepository